<html>
	<head>
		<title>Error</title>
		<style>
			html, body {
				padding: 0;
				margin: 0;
				height: 100%;
			}
			.container {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
		</style>
	</head>
	<body style="background: #a1045a; color: #eddbb2;">
		<div class="container">
			<h1 style="font-size: 6.9em;">{{ .error }}</h1>
		</div>
	</body>
</html>
