<html>
	<head>
		<title>ToDo</title>
	</head>
	<body style="background: #404; color: #eddbb2;">
	<center>
		<ul style="padding-left: 40%; padding-right: 35%;">
		{{ range . }}
			<big>
				<form method="post" action="/todo/delete">
					<input style="display:none;" type="text" id="idboi" name="idboi" value="{{ .ID }}">
					<label style="float: left">{{ .ID }} {{ .Desc }} {{ .Done }}</label>
					<input style="float: right" type="submit" value="Delete">
				</form>
			</big>
			<br>
		{{ end }}
		</ul>

		<br>
		<hr>
		<br>

		<form method="post" action="/todo/new">
			<label for="desc">Description:</label><br>
			<input type="text" id="desc" name="desc"><br>
			<label for="done">Done:</label><br>
			<input type="checkbox" id="done" name="done" value="true"><br>
			<input type="submit" value="Create">
		</form>
		<hr>
		<form method="post" action="/todo/edit">
			<label for="id">ID:</label><br>
			<input type="text" id="id" name="id"><br>
			<label for="desc">Description:</label><br>
			<input type="text" id="desc" name="desc"><br>
			<label for="done">Done:</label><br>
			<input type="checkbox" id="done" name="done" value="true"><br>
			<input type="submit" value="Edit">
		</form>
		<hr>
		<!--form method="post" action="/todo/delete">
			<label for="id">ID:</label><br>
			<input type="text" id="id" name="id"><br>
			<input type="submit" value="Delete">
		</form-->
	</center>
	</body>
</html>
